.card-container{
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: 11px 5px 18px 11px #48529944;
    border-radius: 20px;
}

.card-img{
    border-radius: 20px;
    border-bottom-right-radius: 0px;
}

.detail-precio{
    margin-bottom: 30px;
}

.detail-container{
    padding-right: 30px; 
    padding-left: 30px;
    padding: 30px;
}

.addToCart-container{
    border: 1px dashed grey;
    border-radius: 5px;
    padding: 15px;
}