a {
    text-decoration: none;
}
.card-img{
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.card-title{
    margin-bottom: 10px;
}

.detail-container{
    padding-right: 30px; 
    padding-left: 30px;
}

.img-container{
    padding: 0%;
}
